.footer {
    background-color: var(--thirdColor);
    margin-top: 120px;
    padding: 20px 0px;
}

.google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.linkedin {
    color: rgb(9, 9, 169);
}

.iconspace {
    margin: 20px 8px;
}

.contacticon {
    padding: 10px 5px;
}

.Quicklinksp {
    font-weight: 600;
}